<div class="card">
  <div class="card-header card-header-tabs card-header-primary">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">

        <ul class="nav nav-tabs" data-tabs="tabs" style="float: right;">
          <li class="nav-item">
            <a mat-button class="nav-link active" (click)="generateProducts()" data-toggle="tab">

              <i class="material-icons">autorenew</i> Run
              <div class="ripple-container"></div>

            </a>
          </li>
        </ul>

        <ul class="nav nav-tabs" data-tabs="tabs">
          <li class="nav-item">
            <i class="material-icons header-mat-icon">build</i>
          </li>

          <li class="nav-item">
            <h4 class="card-title"> Products Generator </h4>
            <p class="card-category">Select options & click run to generate products </p>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="card-body">

    <div class="row">

      <div class="col-md-4">
        <mat-form-field>
          <input matInput  [(ngModel)]="productDate" [matDatepicker]="fromPicker" placeholder="Form">
          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker #fromPicker ></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field>
          <mat-label>Delivery period</mat-label>
          <mat-select [(value)] = "productDelivaryPeriod" >
            <mat-option *ngFor="let period of productPeriods" [value]="period.value">
              {{period.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Market Code"  [(ngModel)]="productsGenerateMarketCode" value="productsGenerateMarketCode">
        </mat-form-field>
      </div>

    </div>

  </div>
</div>
