<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">

                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">

                                <ul class="nav nav-tabs" data-tabs="tabs" style="float: right;">

                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" (click)="refresh()" data-toggle="tab">
                                            <i class="material-icons">info</i> Info
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>

                                <ul class="nav nav-tabs" data-tabs="tabs">


                                    <li class="nav-item">
                                        <a mat-button class="nav-link active"
                                           matTooltip="Info! Connected Crm local is required to upload file encrypted!"
                                           matTooltipPosition="below" data-toggle="modal"
                                           data-target="#uploadEncryptedModal">
                                            <i class="material-icons">cloud_upload</i> Upload
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" (click)="refresh()" data-toggle="tab">
                                            <i class="material-icons">autorenew</i> Refresh
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="card-body">


                        <div class="tab-content">


                            <div class="table-responsive table">


                                <mat-table [dataSource]="dataSource" matSort>

                                    <ng-container matColumnDef="actions" class="td-actions text-right">
                                        <mat-header-cell *matHeaderCellDef>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">


                                            <button *ngIf="appDataService.userDto.username != row.createdBy" mat-raised-button type="button" matTooltip="Only the Owner can delete this file!"
                                                    matTooltipPosition="above"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons" style="color: #c5c5c5;">delete_forever</i>
                                            </button>

                                            <button *ngIf="appDataService.userDto.username == row.createdBy" mat-raised-button type="button" matTooltip="Delete"
                                                    matTooltipPosition="above"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon"
                                                    (click)="delete(row)">
                                                <i class="material-icons">delete_outline</i>
                                            </button>


                                            <button *ngIf="row.tag === 'historical_market_data'" mat-raised-button type="button" matTooltip="Download"
                                                    matTooltipPosition="above" class="btn btn-link btn-sm btn-just-icon"
                                                    (click)="download(row)">
                                                <i class="material-icons">get_app</i>
                                            </button>

                                            <button *ngIf="row.tag === 'encrypted_historical_market_data'" mat-raised-button type="button" matTooltip="Crm Local must be connected to download this file"
                                                    matTooltipPosition="above" class="btn btn-link btn-sm btn-just-icon"
                                                    (click)="download(row)">
                                                <i class="material-icons">get_app</i>
                                            </button>

                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="filename">
                                        <mat-header-cell mat-sort-header *matHeaderCellDef> File</mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <i class="material-icons"  *ngIf="row.tag === 'encrypted_file_upload'" style="font-size: 16px;color: #c11b0f;">lock</i>
                                            <i class="material-icons" *ngIf="row.tag === 'file_upload'" style="font-size: 16px;color: #3c6985;">lock_open</i>

                                            {{row.name}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="createdOn">
                                        <mat-header-cell mat-sort-header *matHeaderCellDef> Creation Date
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">{{formatDate(row.createdOn)}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="createdBy">
                                        <mat-header-cell mat-sort-header *matHeaderCellDef> Owner</mat-header-cell>
                                        <mat-cell *matCellDef="let row">{{row.createdBy}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="userGroupName">
                                        <mat-header-cell mat-sort-header *matHeaderCellDef> User group</mat-header-cell>
                                        <mat-cell *matCellDef="let row">{{row.userGroupName}}</mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                                </mat-table>


                                <mat-paginator #paginator
                                               [pageIndex]="0"
                                               [pageSize]="50"
                                               [pageSizeOptions]="[5, 10, 15, 20, 50, 100]">
                                </mat-paginator>

                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="uploadEncryptedModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="material-icons" style="padding-right: 10px;">cloud_upload</i>
                <h5 class="modal-title" id="exampleModalLongTitle"> Upload File Encrypted / Unencrypted</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">

                        Select UserGroup to Share File:
                        <select id="soflow-color" [(ngModel)]="selectedUserGroup" >
                            <option value=0 > ---Empty--- </option>
                            <option [selected]="selectedUserGroup == usergroup.id" *ngFor="let usergroup of usergroups" value="{{usergroup.id}}" > {{usergroup.name}}</option>
                        </select>

                    </div>
                </div>



            </div>
            <div class="modal-footer">



                <a data-dismiss="modal" style="border-style: solid;border-color: #305d79;" mat-button class="nav-link active"
                   (click)="chooseEnergyFile.click()" >

                    <i class="material-icons">lock_open</i> Upload File
                    <div class="ripple-container"></div>

                </a>
                <input type="file" #chooseEnergyFile class="choose-files-button"
                       (change)="uploadFile($event.target.files)"
                       accept=".csv">

                <a data-dismiss="modal" style="border-style: solid;border-color: #b53b3b; margin-left: 10px;"  mat-button class="nav-link active"
                   (click)="chooseEnergyFileToEncrypt.click()" >

                    <i class="material-icons">lock</i> Upload file encrypted
                    <div class="ripple-container"></div>

                </a>

                <input type="file" #chooseEnergyFileToEncrypt class="choose-files-button"
                       (change)="uploadFileEncrypted($event.target.files)"
                       accept=".csv">

            </div>
        </div>
    </div>

</div>
