        <div class="main-content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">



                        <div class="card">

                                <div class="card-header card-header-tabs card-header-primary">
                                        <div class="nav-tabs-navigation">
                                            <div class="nav-tabs-wrapper">
                                                <ul class="nav nav-tabs" data-tabs="tabs">
                                                    <li class="nav-item">
                                                        <a mat-button class="nav-link active" (click)="createUserGroup()" data-toggle="tab">
                                                            <i class="material-icons">playlist_add</i> Add new
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                            <a mat-button class="nav-link active" (click)="refresh()" data-toggle="tab">
                                                                <i class="material-icons">autorenew</i> Refresh
                                                                <div class="ripple-container"></div>
                                                            </a>
                                                        </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                  <mat-table
                                      [dataSource]="dataSource"
                                      matSort
                                      matSortDisableClear
                                      (matSortChange)="refresh()">

                                  <ng-container matColumnDef="actions"  class="td-actions text-right" >
                                                    <mat-header-cell   *matHeaderCellDef >  </mat-header-cell>
                                                    <mat-cell *matCellDef="let row" >
                                                        <!-- <button mat-raised-button type="button" matTooltip="Edit" matTooltipPosition="above" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="editUserGroup(row)">
                                                            <i class="material-icons">edit</i>
                                                        </button> -->
                                                        <button mat-raised-button type="button" matTooltip="Delele" matTooltipPosition="above" class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="deleteUserGroup(row)">
                                                                <i class="material-icons">delete_outline</i>
                                                            </button>
                                                    </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="name" >
                                            <mat-header-cell mat-sort-header *matHeaderCellDef> Name</mat-header-cell>
                                            <mat-cell *matCellDef="let selectedPartner"><div class="mat-cell-text">{{ selectedPartner.name}}</div></mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="description" >
                                            <mat-header-cell mat-sort-header *matHeaderCellDef> Description</mat-header-cell>
                                            <mat-cell *matCellDef="let  selectedPartner"><div class="mat-cell-text">{{ selectedPartner.description}}</div></mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="members">
                                            <mat-header-cell *matHeaderCellDef> Members </mat-header-cell>
                                            <mat-cell *matCellDef="let element">
                                                <div class="members" *ngFor="let user of element.users let isLast = last" >
                                                    <div class="member">
                                                        <span>{{user.username}}{{isLast ? '' : ', '}}</span>
                                                    </div>
                                                </div>
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                                    </mat-table>
                                  <mat-paginator
                                      [length]="totalElements"
                                      [pageSize]="paginator.pageSize"
                                      [pageIndex]="paginator.pageIndex"
                                      [pageSizeOptions]="[5, 10, 15,
                                                20,50,100,500,1000]"
                                      (page)="refresh()">
                                  </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
