.mat-column-actions {
  flex: 0 0 8% !important;
}

.header-mat-icon{
  padding: 11px;
  padding-top: 8px;
  font-size: 34px;
}

.btn{
  margin-top: 5px;

}

.card-icon-location {
  margin-top: -40px;
}

.open-product{
  color: green;
}

.closed-product{
  color: red;
}

.button-visible{
  color: #66ef66 !important;
}

.iceberg-hidden{
  display: none;
}
