

<div class="main-content">
  <div class="container-fluid">
      <div class="row">

          <div class="col-md-12">
              <div class="card card-plain">
                      <div class="card-header card-header-tabs card-header-primary">
                          <div class="nav-tabs-navigation">
                              <div class="nav-tabs-wrapper">

                                  
                                  <ul class="nav nav-tabs" data-tabs="tabs">
                                      <li class="nav-item">
                                              <i class="material-icons header-mat-icon">notification_important</i> 
                                      </li>
                                      <li class="nav-item">
                                          <h4 class="card-title mt-0">{{data.rowName}}</h4>
                                              
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                     
                  <div class="card-body">
                      
                    <div class="row">
                      <div class="col-md-12" style="margin-top:2%;" >
                        <div style="max-height:30vh;overflow-y:auto;"><pre>{{data.rowDescription}}</pre></div>
                      </div>
                    </div>
               
              </div>
          </div>
      </div>
  </div>
</div>
</div>