.header-mat-icon{
    padding: 11px;
    padding-top: 8px;
    font-size: 34px;
}


.display-area{
border: 1px solid #c3c3c3;
border-radius: 5px;
padding: 20px;
}

pre{
    font-family:Roboto,'Helvetica Neue',sans-serif; 
    font-size: 15px;
    white-space: pre-wrap;          
    word-wrap: break-word; 
    
}