
.header-mat-icon{
    padding: 11px;
    padding-top: 8px;
    font-size: 34px;
}

.tab{
    margin-top: 30px;
}


// .container-fluid {
//     margin-top: -85px;
//     left: -28px;
// }
// .wrapper {
//     text-align: center;
// }

// .button {
//     position: absolute;
//     top: 50%;
// }

// .material-icons {
//     cursor:pointer;
//     position: absolute;
//     bottom: 95%;
//     left: 98%;
// }
// .modal-body {
//     p{
//         text-align:left;
//         margin-bottom:0;
//     }
//     .description-title{
//         font-size:95%;
//         color: #142c5f;
//         margin-bottom : 0;
//     }
//     .description-subtitle{
//         font-size: 80%;
//         margin-bottom:0;
//         color: #355580
//     }
//     .description-last-subtitle{
//         margin-bottom:0.7rem;
//     }
// }


